---
name: Packer CI

'on':
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  packer:
    name: packer
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
      # format templates
      - name: Format Template
        uses: hashicorp/packer-github-actions@v0.2.0
        with:
          command: fmt
          target: .
      # validate templates
      - name: Validate Template
        uses: hashicorp/packer-github-actions@v0.2.0
        with:
          command: validate
          target: .
      # build artifact
      - name: Build Artifact
        uses: hashicorp/packer-github-actions@v0.2.0
        with:
          command: build
          arguments: "-color=false -on-error=abort"
          target: base_ubuntu_amd64.pkr.hcl
          working_directory: infrastructure/packer
        env:
          PACKER_LOG: 1
